# Bytecode and cache
__pycache__/
*.pyc

# Virtual environment or environment config
.env/
.venv/

# Log files
logs/
*.log

# Preference settings
user_config/
*.json

# PDF files (anywhere)
*.pdf

# Build files
dist/
build/

# .vscode files
*.vscode/

# Text files
*.txt

# Track these files at root
!.gitignore
!README.md

# Do NOT ignore source files
!*.py
!core/
!gui/
!config/
!main.py
!assets/
